<div class="container">

  <h1> {{title}} </h1>

  <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-6 justify-content-center align-self-center">
        <p>Filter by release date</p>
        <ngx-slider [(value)]="minVal" [(highValue)]="maxVal" [options]="sliderOptions" (valueChange)="doFilter()" (highValueChange)="doFilter()"></ngx-slider>
      </div>

      <div class="col col-lg-6 col-md-6 col-sm-6 justify-content-center align-self-center">
        <add-modal (addSong)="addSong($event)"></add-modal>
      </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let song">
        <update-modal [song]="song" (updateSong)="updateSong($event)"></update-modal>
        <delete-modal [song]="song" (deleteSong)="deleteSong($event)"></delete-modal>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let song"> {{song.title}}</td>
    </ng-container>

    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Artist</th>
      <td mat-cell *matCellDef="let song"> {{song.artist}} </td>
    </ng-container>

    <ng-container matColumnDef="release_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Release Date</th>
      <td mat-cell *matCellDef="let song"> {{song.release_date | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let song"> ${{song.price | number : '1.2-2'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="songAttributes"></tr>
    <tr mat-row *matRowDef="let row; columns: songAttributes;"></tr>
  </table>
</div>
